<!DOCTYPE html>
<html>
<head>
  <title>koiho.com</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device    -width,initial-scale=1.0,user-scalable=no">

</head>
<body>
<%= yield %>
</body>
</html>
